
html {
  scroll-behavior: smooth;
}

.container {
	padding-left: 35px;
	padding-right: 35px;
}

section {
	position: relative;
}

section img {
	width:100%;
}



section.section-one {
	/* background-image: url(../img/first-section.svg); */
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	
}


@media (min-width: 1280px) {
	section img {
/* 		margin-top: -90px; */
	}
	
		.pt-140 {
		padding-top: 30vw;
	}
	.-mt-140 {
		margin-top: -40vw;
	}
	
}

@media (min-width: 1536px) {
	
	section img {
		width:100%;
/* 		margin-top: -170px; */
	}
	
	
}