
html {
  scroll-behavior: smooth;
}

.container {
	padding-left: 35px;
	padding-right: 35px;
}

section {

	position: relative;
}

.media-item a img, a.footer-link img {
	position: relative;
	left: 0;
	transition: all 0.5s ease-in-out;
}
.media-item a:hover img, a.footer-link:hover img {
	left: 15px;
}

.skew {
	position: absolute;
	height: 400px;
	top:0;
}
.skew-r {
	transform: skew(0deg, 4deg);
}

.skew-l {
	transform: skew(0deg, 356deg);
}

.skew-image {
	position: relative;
	height: 500px;
	background-image: url(../img/sarah-pichi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.skew-image-2 {
	background-image: url(../img/shn-image.jpg);
	background-position: top 25% center;
}

.skew-after-image {
	top:500px;
}


section .container {
	position: relative;
}


#animation-mobile-onscroll svg {
	  background: #0D2222;
    border-radius: 400px;
    border: 4px solid #0D2222;
}

/* Menu */

aside {
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 50px;
}

aside li {
	list-style: none;
}


.side-logo {
	width: 170px;
}


/* Burger icon */

.burger-menu {

}
.burger-icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.burger-icon, .burger-icon::before, .burger-icon::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 10px;
}
.burger-icon::before, .burger-icon::after {
  position: absolute;
  content: "";
}
.burger-icon::before {
  top: -8px;
}
.burger-icon::after {
  top: 8px;
}

.m-menu .burger-icon {
  background-color: transparent;
}
.m-menu .burger-icon::before {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.m-menu .burger-icon::after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}



/* Mobile menu */

.m-menu {
	height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
}

.m-menu li {
	list-style: none;
}

.m-menu-pages {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-container {
	position: absolute;
	width: 100%;
	bottom: -90px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99;
}


.menu {
	z-index: 9;
}

.menu-fixed {
	position: fixed;
	top: 0;
	height: 90px;
}




.visually-hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}


#animation-continuous {
	width: 80%;
	margin: 0 auto;
}


/* transitions */


/* Enter and leave animations can use different */
/* durations and timing functions.              */
.logo-enter-enter-active {
  transition: all 1s ease;
}

.logo-enter-enter, .logo-enter-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: scale(0);
  opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.fade-out-leave-active {
  transition: all 1s ease;
}

.fade-out-leave, .fade-out-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* video embed */

.embed-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
}


.embed-container iframe, .embed-container object, .embed-container embed {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


/*
.scroll-container {
	  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll {
  height: 100vh;
  scroll-snap-align: center;
}

.scroll1 {
	
}
*/


@media (min-width: 1020px) {

	#animation-continuous {
		width: 532px;
	}

}

/* 'md': '768px', */
@media (min-width: 768px) {

}

/* 'lg': '1024px', */
@media (min-width: 1024px) {
  
}

/* 'xl': '1280px', */
@media (min-width: 1280px) {

	.skew-image {
		height: 1000px;
	}
	.skew-after-image {
		top:1000px;
	}

}

/* '2xl': '1536px', */
@media (min-width: 1536px) {
	.side-logo {
		width: 201px;
	}
	
	aside {
		padding-top: 10vh;
	}

}
