
html {
  scroll-behavior: smooth;
}

.container {
	padding-left: 35px;
	padding-right: 35px;
}

section {
	position: relative;
}

section img {
	width:100%;
	margin-top: -90px;
}


section.section-one {
	/* background-image: url(../img/first-section.svg); */
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	
}