body {
	font-family: niveau-grotesk, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 28px;
	color: #022E45;
}

h1, h2, h3, h4, h5 {
	font-family: niveau-grotesk, sans-serif;
	font-weight: bold;
}

h1, h2.h1 {
	font-size: 41px;
	line-height: 53px;
}


p, li a  {
	font-size: 30px;
	line-height: 40px;
	font-weight: 600;
}

p.small, a {
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
}

h2 {
	font-size: 25px;
	line-height: 50px;
}

h3 {
	font-size: 25px;
	font-weight: normal;
	line-height: 30px;
}




@media (min-width: 1024px) {
	
	
}



@media (min-width: 1536px) {
	h1, h2.h1 {
		font-size: 60px;
		line-height: 70px;
	}
	
	p, li a {
		font-size: 40px;
		line-height: 50px;
	}
	
	h2 {
		font-size: 25px;
		line-height: 50px;
	}

	h3 {
		font-size: 30px;
		line-height: 35px;
	}

	
}



